@charset "utf-8";

@import "bulma";

.hero_ {
    @extend .hero;
    @extend .is-primary;
    @extend .is-bold;
    .hero-body {
        @extend .py-0;
        position: absolute;
        width: 100%;
        // z-index: 99;
    }
}

.category {
    @extend .menu;
    @extend .has-background-grey-darker;

    opacity: 0.9;
    width: 15%;
}

.category-label {
    @extend .menu-label;
    @extend .has-text-white;
}

.category-list {
    @extend .menu-list;
    a {
        @extend .has-text-white;
    }
}
