@charset "utf-8";

@import "bulma";

.slider {
    // background
    position: relative;
    z-index: 0;
    // width: 100%;
    // height: 600px;
    //
    // height: 100%;


    .sliderContentWrap {
        position: absolute;
        width: 100%;
        // display: inline-block;
        // padding-bottom: 42.3%;
        .sliderContent {
            // width: 100%;
            // height: 100%;
            // position: absolute;

            // img {
            //     // transition: display 0.5s;
            //     // width: 1130px;
            //     // height: 500px;
            //     width: 100%;
            //     // clip: rect(0, 0, 500, 1180);
            // }

                .insideSliderContent{
                    // width: 100%;
                    height: 500px;
                    // padding-bottom: 500px;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

        }
    }

    .sliderNavWrap {
        position: relative;
        // margin: 0 auto;
        margin-top: 450px;
        text-align: center;
        li {
            background: #000;
            width: 30px;
            height: 10px;
            display: inline-block;
            // overflow: hidden;
            margin-left: 10px;
            cursor: pointer;
            opacity: .3;
        }

        li.sliderNavSelecteded{
            color: white;
            opacity: .6;
        }
    }
}
