@charset "utf-8";

@import "bulma";

.product-intro {
    // width: 1210px;
    @extend .level-item;
    min-height: 550px;
    margin: 0 auto;
    .preview {
        @extend .card;
        @extend .is-multiline;
        float: left;
        width: 450px;

        .main-img {
            @extend .card-content;
            position: relative;
            margin-bottom: 20px;
            padding: 0;

            .spec-img {
                @extend .image;
                width: 450px;
                height: 450px;
            }
        }

        .spec-list {
            @extend .card-content;
            @extend .columns;
            // margin-bottom: 18px;
            position: relative;
            padding: 2%;

            .arrow {
                @extend .column;
                @extend .is-1;
                z-index: 99;
                display: block;
                // position: absolute;
                // width: 22px;
                // height: 32px;
                // top: 50%;
                // margin-top: -16px;
            }

            .arrow-prev {
                @extend .arrow;
                // float: left;
                // left: 0;
                .sprite-arrow-prev {
                    display: block;
                    width: 22px;
                    height: 32px;
                    background-image: url(//static.360buyimg.com/item/unite/1.0.114/components/default-soa/preview/i/__sprite.png);
                    background-position: 0 -54px;
                }

                &.disabled > .sprite-arrow-prev {
                    background: url(//static.360buyimg.com/item/unite/1.0.114/components/default-soa/preview/i/disabled-prev.png);
                }
            }

            .arrow-next {
                @extend .arrow;
                // float: left;
                // right: 0;
                .sprite-arrow-next {
                    display: block;
                    width: 22px;
                    height: 32px;
                    background-image: url(//static.360buyimg.com/item/unite/1.0.114/components/default-soa/preview/i/__sprite.png);
                    background-position: -78px 0;
                }

                &.disabled > .sprite-arrow-next {
                    background: url(//static.360buyimg.com/item/unite/1.0.114/components/default-soa/preview/i/disabled-next.png);
                }
            }

            .spec-nav {
                @extend .column;
                @extend .is-10;
                padding: 0;
                position: relative;
                // width: 310px;
                height: 60px;
                overflow: hidden;
                // margin: 0 auto;

                ul {
                    @extend .level;

                    li {
                        @extend .level-item;
                        margin: 0 2px;
                        float: left;
                        // max-width: 60px;
                        // max-height: 70px;

                        .spec-item {
                            @extend .image;
                            width: 60px;
                            height: 60px;
                            border: 2px solid #fff;

                            &.selected {
                                border: 2px solid #e53e41;
                            }
                        }
                    }
                }
            }
        }

        .preview-info {
            @extend .card-footer;

            a {
                @extend .card-footer-item;
            }
        }
    }

    .info {
        width: 590px;
        min-height: inherit;
        float: left;
        margin-left: 30px;

        .name {
            @extend .block;
            @extend .is-size-5;
            // @extend .has-text-justified;
            // font: 700 16px Arial, "microsoft yahei";
            // color: #666;
            @extend .has-text-weight-bold;
            // padding-top: 10px;
            // line-height: 28px;
            // margin-bottom: 5px;
        }

        .news {
            @extend .block;
            @extend .is-size-6;
            // @extend .has-text-justified;
            @extend .has-text-danger-dark;
            // color: #e4393c;
        }

        .choose-btns {
            @extend .block;
            @extend .columns;
            // @extend .is-mobile;
            position: relative;
            bottom: 0;

            .choose-wrap {
                @extend .column;
                @extend .is-three-quarters;

                .choose-amount {
                    // @extend .column;
                    // @extend .is-three-quarters;
                    @extend .field;
                    @extend .has-addons;
                    @extend .has-addons-centered;

                    p {
                        @extend .control;
                    }
                }
            }

            .cart-wrap {
                @extend .column;

                #cart {
                    @extend .button;
                    @extend .is-medium;
                }
            }
        }
    }
}
